/*BASE
*********************************/

* {
  list-style: none;
}

body {
  color: black;
  font-family: 'Architects Daughter', cursive;
  padding: 2rem;
}

/*LAYOUT
*********************************/

html {
  font-size: 10px;
  background-color: #39B4BF;
}

html, body, h1, form, fieldset, legend, ol, li {
  margin: 0 auto;
  padding: 0;
}

.video, header {
  text-align: center;
}

/*MODULE
*********************************/

.top-nav {
  margin-top: 1.5rem;
  color: #F5F7AD;
  font-size: 2.6rem;
  text-align: center;
  display: block;
  text-decoration: none;
}

.top-nav:hover {
  color: #D9E00D;
}

video{
  border-radius: 2rem;
  margin-bottom: 3rem;
}

header {
  font-size: 3rem;
  color: white;
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 2rem;
}

form {
  background-image: url('../media/ipad.png');
  background-size: 100%;
  border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  padding: 2rem;
  width: 59rem;
  margin-bottom: 6rem;
}

form fieldset {
  border: none;
  margin-bottom: 1rem;
}

form fieldset:last-of-type {
  margin-bottom: 0;
}

form legend {
  color: #383838;
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 1rem;
  text-shadow: 0 0.1rem 0.1rem white;
}

form ol li {
  background: #b9cf6a;
  background: rgba(255,255,255,.4);
  border-color: #e3ebc3;
  border-color: rgba(255,255,255,.6);
  border-style: solid;
  border-width: 0.2rem;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  line-height: 3rem;
  list-style: none;
  padding: 0.5rem 1rem;
  margin-bottom: 0.2rem;
}

form label {
  float: left;
  font-size: 2rem;
  width: 18rem;
}

form input {
  width: 20rem;
  height: 2rem;
}

.buttons {
  text-align: center;
}

form button {
  display: inline-block;
  background: #606060 ;
  border: none;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -khtml-border-radius: 0.5rem;
  border-radius: 0.5rem;
  color: #ffffff;
  font-size: 3rem;
  font-family: 'Architects Daughter', cursive;
  letter-spacing: 1px;
  padding: 0.7rem 2.5rem;
  text-shadow: 0 0.1rem 0.1rem #000000;
  text-transform: uppercase;
}

form button:hover {
  background: black;
  cursor: pointer;
}
